<!DOCTYPE html>
<html>
<head>
    <title>Pomodoro Timer</title>
</head>
<body>
    <h1>Pomodoro Timer</h1>
    <button id="start">Start</button>
    <button id="pause">Pause</button>
    <button id="reset">Reset</button>
    <div id="timer"><%= timer %></div>
    <a href="/settings">Settings</a>
    <a href="/log">Completed Pomodoros</a>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
