<!DOCTYPE html>
<html>
<head>
    <title>Pomodoro Timer</title>
</head>
<body>
    <h1>Pomodoro Timer</h1>
    <button id="start">Start</button>
    <button id="pause">Pause</button>
    <button id="reset">Reset</button>
    <div id="timer"><%= timer %></div>
    <a href="/settings">Settings</a>
   
	<button id="show">Show Log</button>
    <div id="log"></div>
	
	<dialog id="favDialog">
  <p>Pomodoro Complete.</p>
  <form method="dialog">
    <button>OK</button>
  </form>
</dialog>



    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
