<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centered Layout</title>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Pomodoro Timer</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <!-- Your content goes here -->
            <h1>Pomodoro Timer</h1>
            <button id="start">Start</button>
            <button id="short">Short Break</button>
            <button id="long">Long Break</button>
            
           
            <div id="timer"><%= timer %></div>
            <button id="pause">Pause</button>
            <button id="reset">Reset</button>
            <button id="show">Show Log</button> 
            <a href="/settings">Settings</a>
            <br>
            
            <div id="log"></div>
            
            <dialog id="favDialog">
            <p>Pomodoro Complete.</p>
            <form method="dialog">
              <button>OK</button>
            </form>
            </dialog>



    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
        </div>
    </div>
</body>
</html>
