<!DOCTYPE html>
<html>
<head>
    <title>Completed Pomodoros</title>
</head>
<body>
    <h1>Completed Pomodoros</h1>
    <ul>
        <% completedPomodoros.forEach(function(pomodoro) { %>
            <li><%= pomodoro %></li>
        <% }); %>
    </ul>
    <a href="/">Go back</a>
</body>
</html>
